:root{
  --primary-color: #49a34c;
  --secondary-color: #17a2b8;
  --light-blue: #61dafb;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --dark2-color: #282c34;
}




.App {
  text-align: center;
}



