:root{
    --primary: #49a34c;
    --secondary: #17a2b8;
    --lightBlue: #61dafb;
    --dark: #343a40;
    --light: #f4f4f4;
    --danger: #dc3545;
    --success: #28a745;
}

nav{
    display: grid;
    
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: var(--primary);
    width: 100%;
    
    
    
    
}

.contents{
    
    width: 100%;
    padding: 10px;
    display: flex;
    
}



.logo{
    font-size: 40px;
    color: var(--light);
    margin: 0;
    padding: 0;
}

nav h1{

    color: var(--light);
    font-size: 28px;
    position: absolute;
    z-index: 2;
    top: -15%;
    left: 15%;
   
}

.logoContainer{
    display: flex;
    margin: 0 100px;
}

.btnContainer{
   position: absolute;
   z-index: 2;
   top: 0;
   left: 92%;
    
    
    cursor: pointer;
    
}

span{
    color: var(--light);
    font-size: 40px;
}


    
/* .top{
    background: var(--light);
    padding: 2px 0;
    margin: 5px 40px;
    width: 100%;
}

.middle{
    background: var(--light);
    padding: 2px 0;
    margin: 2px 40px;
    width: 100%;
    
}

.bottom{
    background: var(--light);
    padding: 2px 0;
    margin: 5px 40px;
    width: 100%;
} */

.underline{
    background: var(--dark);
    padding: 2px;
    
    
    
}

.decor-bar{
    padding-bottom: 60px;
    background: darkgreen;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    
}



.side-nav{
        
        
    height:100%;
    width: 0;
    position: fixed;
    z-index:1;
    top:0;
    right:0;
    background-color: var(--light);
    opacity:0.8;
    overflow-x:hidden;
    padding-top:60px;
    transition:0.5s;
  }
  
  .side-nav-link{
    padding:10px 10px 10px 30px;
    text-decoration:none;
    font-size:22px;
    color: var(--dark);
    display:block;
    transition:0.3s;
  }
  
  .side-nav-link:hover{
    color:black;
  }
  
  .side-nav .btn-close{
    position:absolute;
    top:0;
    right:22px;
    font-size:36px;
    margin-left:50px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
  }
