:root{
    --primary: #49a34c;
    --secondary: #17a2b8;
    --lightBlue: #61dafb;
    --dark: #343a40;
    --light: #f4f4f4;
    --danger: #dc3545;
    --success: #28a745;
}

#main-dashboard-container{
    
    padding: 100px 0;
    background: var(--dark);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#title-container{
    width: 100%;
}

#dashboard-title{
    text-align: center;
    font-size: 30px;
    color: var(--primary);
}

#ui-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

#block-container-left{
    margin: 0 50px;
}

/* Name Block */

#name-block{
    display: flex;
    margin: 20px 0;
    width: 100%;
    background: var(--primary);
    padding: 30px 10px;
    border-radius: 25px;
}



#image-dashboard{
    padding: 80px;
    margin: 0 20px;
    border-radius: 50%;
    background: var(--dark);
}

#user-details h1,p{
    color: var(--light);
}

/* Info Block */
#info-block{
    width: 100%;

    margin: 20px 30px;
}

#experience{
    
    padding: 0 50px;
    
}

#experience-title{
    color: var(--primary);
    font-size: 30px;
}

#education{
    
    padding: 0 50px;
    margin: 50px 0;
}

#education-title{
    color: var(--primary);
    font-size: 30px;
}

#skills{
    
    padding: 0 50px;
    margin: 20px 0;
    margin-bottom: 50px;
}


#skills-title{
    color: var(--primary);
    font-size: 30px;
}

#block-container-right{
    margin: 0 50px;
    
}

#blog-container{
    width: 100%;
    margin: 20px 40px;
    
}


#feed-container{
   
}

#post-feed{
    border: var(--primary) 2px solid;
    
    
    margin: 40px;
    
    text-align: center;
    box-shadow: rgb(36, 36, 36) 15px 20px;
}



#post-input-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#textarea-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

textarea{
    height: 140px;
    width: 300px;
    border: var(--primary) solid 5px;
    border-radius: 15px;
    padding: 10px;
}
#submit-post-btn{
    margin: 10px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#noSkills-alert{
    text-align: center;
    color: var(--light);
    margin: 100px 0px;
}

#noExperience-alert{
   text-align: center;
   color: var(--light);
   margin: 100px 0px;
}

#noEducation-alert{
   text-align: center;
   color: var(--light);
   margin: 100px 0px;
}