:root{
    --primary: #49a34c;
    --secondary: #17a2b8;
    --lightBlue: #61dafb;
    --dark: #343a40;
    --dark2: #24282b;
    --light: #f4f4f4;
    --danger: #dc3545;
    --success: #28a745;
}


#dash-post-container{
    
    border-bottom: solid 1px var(--light);
    
}



#dash-post-container h2{
    color: var(--light);
}

#post-btns{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.post{
    text-align: left;
    margin: 0 45px;
}

.post-paragraph{
    text-indent: 10px;
}

#post-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


#post-info p:nth-child(1){
    margin-right: 10px;
    font-size: 14px;
}

#post-info p:nth-child(2){
    margin-left: 10px;
    font-size: 14px;
}



#post-btns p{
    font-size: 20px;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.3s ease;
}

#post-btns p:nth-child(1){
    margin-right: 5px
}
#post-btns p:nth-child(2){
    margin: 10px 10px;
    
}

#post-btns p:nth-child(2):hover{
    margin: 10px 10px;
    color: yellow;
}

#post-btns p:nth-child(3){
    margin: 10px 5px
}

#post-btns p:nth-child(4){
    margin-left: 10px
}

#post-btns .delete-post-btn:hover{
    color: var(--danger);
}

#post-btns p:hover{
    color: var(--primary);
}


.comments-slider{
    background: var(--dark2);
    overflow-y: scroll;
    transition: ease-out 0.4s;
    max-height: 0em;
}

.active{
    max-height: 30em;
}

/* #comments-slider:active{
    max-height: 30em;
} */

#close-slider-btn{
    display: block;
    text-align: right;
    background: var(--light);
    margin: 10px 15px;
    color: var(--danger);
    font-size: 24px;
    cursor: pointer;
}


#comments-tag{
    display: block;
}







